<div class="about-container">
    <h1>About the Application</h1>

    <div class="about-content">
        <div class="about-text">
            <p>
                This application is a showcasing of an Angular 20 application on the frontend and 
                a Java 21 Spring boot application on the backend. This is a simple Todo application with 
                add, update and delete functionalities. State management (NgRx) and toast notifications 
                (MatSnackbar) have both been added to the application as well.
            </p>
        </div>
    </div>
</div>